.character-text {

	&__widget {
		position: relative;
		&.image {
			overflow-y: hidden;
		}
	}

	&__text {
		padding-bottom: @item-padding;

		p:last-of-type {
	    margin-bottom: 0;
	  }
	}

	&__graphic {
		img {
			display: block;
		}

		&.center {
			width: 100%;
			padding-bottom: @item-padding;

			@media all and (max-width: @device-width-small) {
				width: 60%;
				margin-left: 20%;
				padding-bottom: @item-padding * 2;
			}

			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.overlay {
		position: absolute;
	}

	.bubble {
		position: relative;
		padding: @item-padding;
		background: @item-color;
		border-color: @item-color;
		color: @item-color-inverted;

		.arrow {
			border-style: solid;
	    position: absolute;
			z-index: 1;
		}

		.arrow-border {
			border-style: solid;
	    position: absolute;
		}

		&.text-shadow {
			box-shadow: 0 2px 5px rgba(0,0,0,0.5);
		}
	}

	.bubble-top {
		.arrow {
			border-color: @item-color transparent transparent transparent;
			border-width: 16px;
			bottom: -32px;
			right: 50%;
			margin-right: -16px;
		}
		.arrow-border {
			border-color: @item-color-inverted transparent transparent transparent;
			right: 50%;
		}
	}

	.bubble-right {
		.arrow {
			border-color: transparent @item-color transparent transparent;
			border-width: 16px;
			left: -32px;
			top: 50%;
			margin-top: -16px;
		}
		.arrow-border {
			border-color: transparent @item-color-inverted transparent transparent;
			top: 50%;
		}
	}

	.bubble-bottom {
		.arrow {
			border-color: transparent transparent @item-color transparent;
			border-width: 16px;
			top: -32px;
			right: 50%;
			margin-right: -16px;
		}
		.arrow-border {
			border-color: transparent transparent @item-color-inverted transparent;
			right: 50%;
		}
	}

	.bubble-left {
		.arrow {
			border-color: transparent transparent transparent @item-color;
			border-width: 16px;
			right: -32px;
			top: 50%;
			margin-top: -16px;
		}
		.arrow-border {
			border-color: transparent transparent transparent @item-color-inverted;
			top: 50%;
		}
	}

	.character-text__inner,
	.component__inner {
		padding-bottom: 0px;
	    background: transparent;
	}

	.component__title{
		background-color: @item-color;
		margin-bottom: 0px;
	}

	.component__body {
		margin-top: 0px;
		background-color: @item-color;
	}
}
