.character-text-component {

	.character-text-widget {
		position: relative;
		&.image {
			overflow-y: hidden;
		}
	}

	.character-text-text {
		padding-bottom: @component-body-padding-bottom;

		p:last-child {
	    margin-bottom: 0;
	  }
	}

	.character-text-graphic {
		img {
			display: block;
		}

		&.center {
			width: 100%;
			padding-bottom: @component-padding;

			@media all and (max-width: @device-width-small) {
				width: 60%;
				margin-left: 20%;
				padding-bottom: @component-padding * 2;
			}

			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.overlay {
		position: absolute;
	}

	.bubble {
		position: relative;
		padding: @component-padding;
		background: @primary-color;
		border-color: @primary-color;
		color: @primary-color-inverted;
	}

	.bubble-left:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 20px 0 20px 30px;
		border-color: transparent @primary-color;
		display: block;
		width: 0;
		z-index: 1;
		margin-top: -20px;
		right: -30px;
		top: 50%;
	}

	.bubble-left:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 24px 0 24px 34px;
		border-color: transparent transparent;
		display: block;
		width: 0;
		z-index: 0;
		margin-top: -24px;
		right: -39px;
		top: 50%;
	}

	.bubble-right:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 20px 30px 20px 0;
		border-color: transparent @primary-color;
		display: block;
		width: 0;
		z-index: 1;
		margin-top: -20px;
		left: -30px;
		top: 50%;
	}

	.bubble-right:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 24px 34px 24px 0;
		border-color: transparent transparent;
		display: block;
		width: 0;
		z-index: 0;
		margin-top: -24px;
		left: -39px;
		top: 50%;
	}

	.bubble-top:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 30px 20px 0;
		border-color: @primary-color transparent;
		display: block;
		width: 0;
		z-index: 1;
		margin-left: -20px;
		bottom: -30px;
		left: 50%;
	}

	.bubble-top:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 34px 24px 0;
		border-color: transparent transparent;
		display: block;
		width: 0;
		z-index: 0;
		margin-left: -24px;
		bottom: -39px;
		left: 50%;
	}

	.bubble-bottom:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 20px 30px;
		border-color: @primary-color transparent;
		display: block;
		width: 0;
		z-index: 1;
		margin-left: -20px;
		top: -30px;
		left: 50%;
	}

	.bubble-bottom:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 24px 34px;
		border-color: transparent transparent;
		display: block;
		width: 0;
		z-index: 0;
		margin-left: -24px;
		top: -39px;
		left: 50%;
	}

	.character-text-inner,
	.component-inner {
		padding-bottom: 0px;
	    background: transparent;
	}

	.component-title{
		background-color: @component-background-color;
		margin-bottom: 0px;
	}

	.component-body {
		margin-top: 0px;
		background-color: @component-background-color;
	}

}
